@import '../../../../variables';

.field, .subField {
  width: calc(100% - 20px);
  min-height: 45px;
}
/*
.field {
  @media screen and (min-width: $break-small) {
    width: calc(50% - 20px);
  }
  @media screen and (min-width: $break-big) {
    width: calc(33.3% - 15px);
  }
}

 */

.select {
  margin-top: 13px;
}

.checkbox {
  margin-top: 22px;
}
