.info {
  text-align: center;
  padding: 10px;
  max-height: calc(100vh - 70px);
}


:host >>> .mat-dialog-actions {
  display: inherit;
}

.changes {
  text-align: left;
  font-size: x-small;
}

.ilmari-icon {
  background-image: url("/assets/icons/Ilmari-192.png");
  height: 128px;
  width: 128px;
  background-size: contain;
  margin: 0 auto;
}

p {
  margin: 20px auto 0 auto;
  max-width: 300px;
}

.accept button {
  margin-top: 20px;
}

.howto p, .accept p {
  text-align: left;
}
