.extras-wrap {
  margin-top: 20px;
}
.extras {
  margin-right: -10px;
}
.select-fields {
  position: absolute;
  right: 10px;
  margin-bottom: 10px;
}
:host >>> .select-fields svg {
  fill: #2980B9;
}
