/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  overflow-y: hidden;
}

cdk-focus-trap {
  position: relative;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}

.cdk-focus-trap-content {
  width: 100vw;
  height: 100vh;
}

.mat-dialog-content {
  height: calc(100% - 55px);
  max-height: 100vh !important;
}

::-webkit-scrollbar {
  display: none;
}

.mat-dialog-container {
  max-width: 100% !important;
  max-height: 100vh !important;
  padding: 5px !important;
  overflow: hidden !important;
}

.mat-select {
  width: 100%;
}

.settings-list .mat-list-item-content {
  overflow: visible !important;
}

.fill-remaining {
  flex: 1 1 auto;
}

.mat-sidenav-content {
  width: 100%;
}

.clear {
  clear: both;
}

.link {
  cursor: pointer;
  cursor: hand;
}

.cursive {
  font-style: italic;
}
